@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');

html, body, #root {
    height: 100%;
}

.wrapApp {
    height: 100%;
}
.container-app {
    min-height: 100%;
    background-color: #f0f0f08a;
}

.wrapper {
    margin: auto;
    width: 90%;
}

.header {
    border-bottom: 1px solid #bebebe;
}


.tweetsHomepage {
    margin-top: 30px;
}


@media only screen and (min-width: 768px) {
    .userTweetContainer {
        margin: auto;
        width: 80%
    }

    .userList {
        width: 50%;
        margin: auto;
        margin-top: 30px;
    }

    .addFriendList {
        width: 70%;
        margin: auto;
        margin-top: 30px;
    }
}


/**** PAGINATION ****/
.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    flex-wrap: wrap;
}
.pagination > .active > a{
    background-color: #4f709e ;
    border-color: #4f709e ;
    color: #fff;
}
.pagination > li > a{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #4f709e ;
    border-color: #4f709e;
    outline: none ;
    margin-bottom: 15px;
}
.pagination > li > a, .pagination > li > span{
    color: #4f709e
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
}

.active {
    margin-bottom: 15px;
}