@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');

.container-app {
    background-color: #f0f0f08a;
}

.wrapper {
    margin: auto;
    width: 90%;
}

.header {
    border-bottom: 1px solid #bebebe;
}


.tweetsHomepage {
    margin-top: 30px;
}


@media only screen and (min-width: 768px) {
    .userTweetContainer {
        margin: auto;
        width: 80%
    }
}